/* Task
---------------------------------------------------------------------------------------------------- */
/* Task Containers */
.task {
  animation: task 0.5s ease-in-out;
  background-color: var(--color-background-secondary);
  margin: 1em 0;
  padding: 0.7em;
}

.task__bottom {
  align-items: center;
  display: flex;
  gap: 1em;
  justify-content: end;
}

.task__top {
  align-items: center;
  display: grid;
  gap: 0.3em;
  grid-template-columns: auto 1fr auto;
}

/* Task Elements */
.task__icon {
  filter: invert(1);
  height: var(--icon-size-medium);
  opacity: var(--effect-icon-opacity);
  width: var(--icon-size-medium);
}

.task__icon:hover {
  cursor: pointer;
  opacity: var(--effect-icon-opacity-hover);
}

.task__icon.icon--light-theme {
  filter: invert(0);
}

.task__txt-date {
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-bold);
}

.task__txt-description {
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-regular);
}

.task__txt-name {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}

.task__txt--completed {
  text-decoration: line-through;
}

/* Task Status */
.task__label-status {
  cursor: pointer;
  display: flex;
  padding-left: 1.8em;
  position: relative;
}

.task__label-status:hover .toggle ~ .task__span-status {
  opacity: var(--effect-icon-opacity);
}

.task__label-status .toggle:checked ~ .task__span-status {
  background-color: var(--color-accent);
}

.task__label-status:hover .toggle:checked ~ .task__span-status {
  background-color: var(--color-accent-hover);
}

.task__span-status {
  background-color: var(--color-foreground-primary);
  border-radius: 50%;
  height: var(--icon-size-standard);
  left: 0;
  position: absolute;
  top: -0.7em;
  width: var(--icon-size-standard);
}

.task__span-status:after {
  content: "";
  display: none;
  position: absolute;
}

/* Task Priority */
.task__container-priority {
  display: flex;
}

.task__label-priority {
  background-color: var(--color-foreground-primary);
  cursor: pointer;
  height: 1.45em;
  position: relative;
  transition: 0.3s;
  width: 3.05em;
}

.task__label-priority::before {
  background-color: var(--color-background-primary);
  content: "";
  height: 1.15em;
  margin: 0.15em;
  position: absolute;
  transition: 0.3s;
  width: 1.15em;
}

.toggle:checked + .task__label-priority {
  background-color: var(--color-accent);
}

.toggle:checked + .task__label-priority::before {
  transform: translateX(1.55em);
}

/* Add Task Prompt
---------------------------------------------------------------------------------------------------- */
.add-task-prompt {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-bold);
  gap: 0.5em;
  justify-content: left;
  padding-left: 0.5em;
}

.add-task-prompt:hover {
  color: var(--color-accent);
  cursor: pointer;
}

.add-task-prompt__icon {
  filter: invert(1);
  height: var(--icon-size-standard);
  width: var(--icon-size-standard);
}

.add-task-prompt__icon.icon--light-theme {
  filter: invert(0);
}

/* Task Form
---------------------------------------------------------------------------------------------------- */
/* Task Form Containers */
.task-form {
  animation: taskForm 0.5s ease-in-out;
  background-color: var(--color-background-secondary);
}

.task-form__btn-container {
  display: flex;
  gap: 1em;
  grid-area: 2 / 1 / 3 / 3;
  justify-content: center;
}

.task-form__column-left {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: 1 / 1 / 2 / 2;
}

.task-form__column-right {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: 1 / 2 / 2 / 3;
}

.task-form__field {
  border: none;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 2fr;
}

.task-form__toggle-container {
  align-items: center;
  display: flex;
  gap: 1em;
}

/* Add Task Form Elements */
.task-form__btn-add {
  background-color: var(--color-accent);
  border: none;
  color: var(--color-foreground-secondary);
  cursor: pointer;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  margin: 0.3em 0;
  padding: 0.3em 1em;
}

.task-form__btn-add:hover {
  background-color: var(--color-accent-hover);
}

.task-form__btn-cancel {
  background: transparent;
  border: 0.1em solid var(--color-accent);
  color: var(--color-foreground-primary);
  cursor: pointer;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  margin: 0.3em 0;
  padding: 0.3em 1em;
}

.task-form__btn-cancel:hover {
  color: var(--color-accent);
}

.task-form__input {
  border: 0.1em solid var(--color-foreground-primary);
  font-size: var(--font-size-standard);
  margin-top: 0.3em;
  outline-style: none;
  padding: 0.3em;
  width: 100%;
}

.task-form__input:focus {
  border: 0.1em solid var(--color-accent);
}

.task-form__label {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}

.task-form__label--focus {
  color: var(--color-accent);
}

.task-form__label-priority {
  background-color: var(--color-foreground-primary);
  cursor: pointer;
  height: 1.45em;
  position: relative;
  transition: 0.3s;
  width: 3.05em;
}

.task-form__label-priority::before {
  background-color: var(--color-background-primary);
  content: "";
  height: 1.15em;
  margin: 0.15em;
  position: absolute;
  transition: 0.3s;
  width: 1.15em;
}

.toggle:checked + .task-form__label-priority {
  background-color: var(--color-accent);
}

.toggle:checked + .task-form__label-priority::before {
  transform: translateX(1.55em);
}

/* Media Queries
---------------------------------------------------------------------------------------------------- */
@keyframes task {
  from {
    opacity: 0;
    transform: translateX(-1em);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes taskForm {
  from {
    opacity: 0;
    transform: translateY(-1em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 965px) {
  .task__top {
    grid-template-columns: auto 1fr;
  }

  .task__toggle-status {
    grid-area: 1 / 1 / 2 / 2;
  }

  .task__txt-date {
    grid-area: 2 / 1 / 3 / 3;
  }

  .task__txt-name {
    grid-area: 1 / 2 / 2 / 3;
  }

  .task-form__field {
    grid-template-columns: 1fr;
  }

  .task-form__column-left {
    grid-area: 1 / 1 / 2 / 2;
  }

  .task-form__column-right {
    grid-area: 2 / 1 / 3 / 2;
  }

  .task-form__btn-container {
    grid-area: 3 / 1 / 4 / 2;
  }
}

@media only screen and (max-width: 340px) {
  .task-form__btn-container {
    flex-direction: column;
    gap: 0.3em;
  }

  .task-form__btn-add,
  .task-form__btn-cancel {
    width: 100%;
  }
}
